@model VotoResult
@{
    ViewData["Title"] = "Contact";
}
<h2>Dashboard</h2>

<canvas id="chart-area" style="width: 60%; height: 300px;"></canvas>

<button id="status" data-status="0" class="btn-danger">Start/Stop</button>


@section scripts
{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript">
        var timer;

        var GetDashboard = function() {

            $.ajax({
                url: "/Home/Dashboard",
                cache: false
            }).done(function(r) {
                loadData(r.Java, r.Javascript, r.Net, r.Php);
            });

        };

        $("#status").click(function() {
            var t = $(this);
            console.log(t.attr("data-status"));
            if (t.attr("data-status") === "0") {
                t.attr("data-status", "1").addClass("btn-success").removeClass("btn-danger");
                timer = setInterval(GetDashboard, 200);
            } else {
                t.attr("data-status", "0").addClass("btn-danger").removeClass("btn-success");
                clearInterval(timer);
            }
        });

        var loadFirstData = function(a, b, c, d) {
            var data = [

                {
                    value: a,
                    color: "#5CB85C",
                    highlight: "#449D44",
                    label: "Java"
                },
                {
                    value: b,
                    color: "#F0AD4E",
                    highlight: "#EC971F",
                    label: "Javascript"
                },
                {
                    value: c,
                    color: "#337AB7",
                    highlight: "#286090",
                    label: ".NET"
                },
                {
                    value: d,
                    color: "#D9534F",
                    highlight: "#C9302C",
                    label: "PHP"
                }
            ];

            var ctx = document.getElementById("chart-area").getContext("2d");
            window.myPolarArea = new Chart(ctx).PolarArea(data, {
                responsive: true
            });
        }

        var loadData = function(a, b, c, d) {
            if (window.myPolarArea.segments[0].value !== a ||
                    window.myPolarArea.segments[1].value !==  b ||
                    window.myPolarArea.segments[2].value !==  c ||
                    window.myPolarArea.segments[3].value !==  d) {
                window.myPolarArea.segments[0].value = a;
                window.myPolarArea.segments[1].value = b;
                window.myPolarArea.segments[2].value = c;
                window.myPolarArea.segments[3].value = d;
                window.myPolarArea.update();
            }
        }

        $(document).ready(function() {
            loadFirstData(@Model.Java, @Model.Javascript, @Model.Net, @Model.Php);
        });
    </script>
}
