@{
    ViewData["Title"] = "Contact";
}
<h2>Dashboard</h2>

<p class="comm php">-</p>
<p class="comm net">-</p>
<p class="comm java">-</p>
<p class="comm javascript">-</p>

@section scripts
{
    <script type="text/javascript">

        var GetDashboard = function() {

            $.get("/Home/Dashboard").done(function(r) {
                console.log(r);
            });

        };

        $(document).ready(function() {
            setInterval(GetDashboard, 500);
        });
    </script>
}
