@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <button href="/Home/Vote/?c=NET&u=alebanzas" class="comm btn btn-default">.NET</button>
    </div>
    <div class="col-md-6">
        <button href="/Home/Vote/?c=Java&u=alebanzas" class="comm btn btn-default">Java</button>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <button href="/Home/Vote/?c=Javascript&u=alebanzas" class="comm btn btn-default">Javascript</button>
    </div>
    <div class="col-md-6">
        <button href="/Home/Vote/?c=PHP&u=alebanzas" class="comm btn btn-default">PHP</button>
    </div>
</div>

<style>
    .comm {
        width: 100%;
        height: 300px;

    }
</style>

@section scripts
{

    <script type="text/javascript">
        $(".comm").click(function(e) {
            console.log(e);
        });
    </script>
}